/*
.data-preview-wrapper {
  width: 75vw !important;
  max-height: fit-content !important;
  overflow: hidden !important;
  position: absolute;
  margin-left: 25vw;
  z-index: 0;
}

.cdd-subheader {
  height: 6.1vw !important;
  background-color: #f0f0f0;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}

.preview-button {
  text-align: left !important;
  font-size: 1.5em !important;
  font: "Source Sans Pro";
  font-style: bold;
  color: #005ea2;
  border-radius: 4px;
  width: 186px;
  height: 55px;
}
*/
