@import "../../../styles/variables";

@media screen and (min-width: 1024px) {
  .side-nav {
    min-width: $side-nav-width-desktop;
    max-width: $side-nav-width-desktop;
  }
  .filter-panel {
    min-width: $side-nav-width-desktop;
    max-width: $side-nav-width-desktop;
  }
}

@media screen and (min-width: 1200px) {
  .side-nav {
    min-width: $side-nav-width-desktop-lg;
    max-width: $side-nav-width-desktop-lg;
  }
  .filter-panel {
    position: absolute;
    top: 0;
    left: $side-nav-width-desktop-lg;
    min-width: $side-nav-width-desktop-lg;
    max-width: $side-nav-width-desktop-lg;
    z-index: 2;
  }
}

.side-nav-height {
  min-height: 90vh;
  max-height: 1000px;
}

.question-icon {
  position: relative;
  top: -0.65em;
  left: 0.5em;
}

.usa-alert usa-alert--info {
  content: none !important;
}