.white-color {
  color: white;
}

.checkMarkOff {
  display: none;
}

.checkMarkOn {
  display: block;
  z-index: 1;
  font-size: 36px;
  margin-bottom: 10px;
  position: relative;
  top: -10px;
}

span.datatype.selected {
  color: white;
}

.selectablecard {
  float: left;
  padding: 4rem 1.25rem;
  margin-top: 10px;
  margin-bottom: 25px;
  margin-right: 20px;
  background: white;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border: 3px solid #005ea2;
  font-family: "Merriweather", sans-serif !important;
  font-size: 18px !important;
  font-weight: bold;
}
.selectablecard:hover {
  background: #005ea24d !important;
  box-shadow: 0 5px 20px #005ea24d;
  border: 1px solid #005ea2;
}

button.selectablecard.selected {
  border-color: #005ea2;
  background-color: #005ea2;
  color: #fff;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
