@import "../../../additional-scss/variables";
@media screen and (min-width: 1024px) {
  .side-nav {
    min-width: $side-nav-width-desktop;
    max-width: $side-nav-width-desktop;
  }
  .filter-panel {
    min-width: $side-nav-width-desktop;
    max-width: $side-nav-width-desktop;
  }
}

@media screen and (min-width: 1200px) {
  .side-nav {
    min-width: $side-nav-width-desktop-lg;
    max-width: $side-nav-width-desktop-lg;
  }
  .filter-panel {
    position: absolute;
    top: 0;
    left: $side-nav-width-desktop-lg;
    min-width: $side-nav-width-desktop-lg;
    max-width: $side-nav-width-desktop-lg;
    z-index: 2;
  }
}

.side-nav-height {
  min-height: 90vh;
  max-height: 1000px;
}

.question-icon {
  position: relative;
  top: -0.65em;
  left: 0.5em;
}

.spinner .text-center {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 815;
}

.spinner .text-center p {
  position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    width: 80%;
    height: 400px;
    margin: 0 auto;
    padding: 0;
    zIndex: 17;
}