.side-panel {
  width: 25vw;
  min-width: 320px !important;
  max-width: 25vw !important;
  min-height: 80vh !important;
  max-height: fit-content !important;
  overflow: hidden !important;
  //filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
  //filter: drop-shadow(5px 0px 9px rgba(0, 0, 0, 0.5));
}

.manage-download-wrapper {
  display: flex;
}

.question-icon {
  position: relative;
  top: -0.65em;
  left: 0.5em;
}
