@media screen and (min-width: 1024px) and (max-width: 1999px) {
  .side-nav {
    min-width: 332px;
    max-width: 332px;
  }
  .filter-panel {
    min-width: 332px;
    max-width: 332px;
  }
}

@media screen and (min-width: 1200px) {
  .side-nav {
    min-width: 389px;
    max-width: 389px;
  }
  .filter-panel {
    position: absolute;
    top: 0;
    left: 389px;
    min-width: 389px;
    max-width: 389px;
    z-index: 2;
  }
}

.side-nav-height {
  min-height: 90vh;
  max-height: 1000px;
}

.question-icon {
  position: relative;
  top: -0.65em;
  left: 0.5em;
}
