.photo {
  height: 45px;
  width: 100px;
  padding-bottom: 15px;
}

.sitewide-alert__content {
  font-size: 70.5882%;
  margin: 0;
  max-width: 35rem;
  padding: 0.5em 6.5em 0.5em 3.66667em;
  position: relative;
}

#usa-side-nav {
  .usa-nav:focus-within {
    border: 2px solid #005ea2;
  }
}

.search-form-button {
  position: relative;
  width: 5rem !important;
  background-image: none !important;
  .usa-sr-only {
    width: 100%;
    left: auto;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.main-content-skip-visible-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;

  &:focus {
    clip: auto;
    height: auto;
    overflow: auto;
    position: absolute;
    width: auto;
  }
}

// 2. slide out menu: ensure menu button is focused after menu closed.
// 3. slide out menu: usa-navbar menu button needs aria-is-expanded to toggle when it's open and closed.
// 4. footer button needs to have aria-is-expanded to toggle.
