.menuList {
  width: 100%;
  font-size: medium;
}
.navBar {
  padding: 20px 0 20px 200px;
}

.title {
  font-size: 30px;
}

.menu.active {
  text-decoration: none;
}

.epa-subheader {
  position: relative;
  left: 50%;
}
