.campd-tools .usa-hero {
  background-image: url("./placeholderBanner.png");
}

.campd-tool {
  position: relative;
  overflow: hidden;

  a {
    overflow-wrap: anywhere;
    hyphens: auto;
  }

  p {
    margin-bottom: 0;
  }

  /* uswds "tablet" breakpoint */
  @media (min-width: 40em) {
    .campd-tool-image {
      float: left;
      margin-right: 1rem;
      padding-bottom: 0;
      height: 160px;
      width: 240px;
    }

    .campd-tool-meta {
      border-top: none;
      border-left: 1px solid #dfe1e2;
    }
  }
}

.campd-tool-header {
  p {
    margin: 0;
    font-weight: bold;
  }

  a {
    color: white;
    text-decoration-color: transparent;
  }
}

.campd-tool-image {
  margin-bottom: 1rem;
  border: 1px solid #dfe1e2;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.campd-tool-summary,
.campd-tool-meta {
  p:first-of-type {
    margin-top: 0;
  }

  a {
    color: #005ea2;
    text-decoration: underline;

    :hover {
      color: #1a4480;
    }

    :focus {
      outline: 0.25rem solid #2491ff;
      outline-offset: 0;
    }
  }
}

.campd-tool-meta {
  border-top: 1px solid #dfe1e2;
}

.campd-tool-contact {
  margin-bottom: 0.75rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid #dfe1e2;

  a {
    display: flex;
    align-items: center;
    text-decoration-color: transparent;
  }

  svg {
    margin-right: 0.25rem;
  }
}

.campd-tool-footer {
  border-top: 1px solid #dfe1e2;
  text-align: center;

  button {
    margin: 0;
    font-size: 87.5%;
    padding: 0.5rem 1rem;
  }
}

.campd-tool[data-expanded="false"] {
  height: 240px;

  .campd-tool-footer {
    position: absolute;
    bottom: 0;
    border-top: none;
    padding-top: 1.625rem;
    width: 100%;
    background-image: linear-gradient(
      to top,
      white calc(100% - 1rem),
      transparent
    );
  }
}
