div.row.column1 {
  float: left;
  min-width: 50vw;
  position: relative;
  min-height: 100vh;

  height: auto;
}
.mainContent {
  min-height: 90vh;
  max-width: 100%;
}
.row {
  overflow: auto;
  min-width: 1400px;
  max-width: 2000px;
}
.sideNav {
  display: flex;
  flex-direction: column;
}

.skip-to-content-anchor {
  position: absolute;
  left: -999px;
  width: 1px;
  height: 1px;
  top: auto;

  &:focus {
    color: #000000;
    display: inline-block;
    height: auto;
    width: auto;
    position: static;
    margin: auto;
  }
}
