div.row.column1 {
  float: left;
  min-width: 50vw;
  position: relative;
  min-height: 100vh;

  height: auto;
}
.mainContent {
  max-width: 100%;
}
.row {
  overflow: auto;
  min-width: 1400px;
  max-width: 2000px;
}
.sideNav {
  display: flex;
  flex-direction: column;
}
