.side-panel {
  width: 25vw !important;
  min-height: 80vh !important;
  max-height: fit-content !important;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
  overflow: hidden !important;
}

.manage-download-wrapper {
  display: flex;
}

.question-icon {
  position: relative;
  top: -0.65em;
  left: 0.5em;
}

.filter-button {
  width: 85% !important;
  max-width: 85% !important;
  text-align: left !important;
  font-size: 1em !important;
}
