.side-panel {
  width: 25vw !important;
  height: 80vh !important;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
  overflow: hidden;
}

.manage-download-wrapper {
  display: flex;
}

.question-icon {
  position: relative;
  top: -0.65em;
  left: 0.5em;
}

.filter-button {
  width: 95% !important;
  max-width: 100%;
  text-align: left !important;
  font-size: 1em !important;
}

.filter-container {
  max-height: 35vh !important;
  width: 21.5vw;
  overflow-y: scroll;
}
