#container {
    #textField {
        border-color: pink !important;
    }
    #icons{
        display:none !important;
    }
    // display: none;
    &:hover{
        #icons{
            display:block !important;
        }
    }
}