#multi-select-combobox {
  div.item:hover {
    cursor: pointer;
    background: #e6e6e6;
  }
  input.search {
    cursor: text;
  }
  div.item.selected:hover {
    cursor: default;
  }
  div.item.selected {
    background: #e6e6e6;
  }
}
