@media screen and (min-width: 1024px) {
  .data-card {
    width: 15rem;
  }
  .data-intro {
    width: 52rem;
  }
}

@media screen and (min-width: 1200px) {
  .data-card {
    width: 18rem;
  }
  .data-intro {
    width: 60rem;
  }
}
